.navbar-default {
	background-color: white;
}

.hoverTooltip {
    background: white;
}

text.score { 
    display: none;
}
text.score2 {
    display: none;
}
.navbar {
	min-height: 120px;
}

html {
    background: white;
}

.commentText {
    
}

body {
	font-family: Theinhardt;
	background: white;
    margin: 0px;
}
.chartHead {
    float: left;
    .vsTitle {
        color: @charcoal-grey;
        font-size: 100px;
        margin-top: 0px;
    }
    .title {
            font-size: 100px;
            opacity: 0.2;
            padding-left: 90px;
            color: #3d4351;
            font-weight: 500;
            text-align: left;
            font-family: Theinhardt;
            line-height: 100px;
    }
    .description {
        font-size:  16px;
        padding-left: 90px;
        color: #606570;
        font-weight: 500;
        line-height: 1.38;
        text-align: left;
        font-family: Theinhardt;
        margin-left: 5px;
        margin-top: -10px;
    }
}
.bigCol {
    width: 563px;
    height: 296px;
    margin-bottom: 100px;
    float: left;
    .title {
        font-size: 36px;
        opacity: 0.2;
        padding-left: 90px;
        color: #3d4351;
        font-weight: 500;
        text-align: left;
        font-family: Theinhardt;
    }
    .description {
        font-size:  16px;
        padding-left: 90px;
        color: #606570;
        font-weight: 500;
        line-height: 1.38;
        text-align: left;
        font-family: Theinhardt;
    }
    .graphImage {
        width: 102%;
        object-fit: contain;
    }
}


#page-wrapper {
	height: calc( 66vw - 120px );
    margin: 145px 0 0 0;
    padding-top: 30px;
}

text.wrap {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: #3d4351;
  opacity: 0.6;
}

.biChart.double {
    margin-left: 100px;
    margin-top: 60px;
}

.biChart.single {
    position: absolute;
    margin-top: 180px;
    margin-left: 60px;
}


.fall-back {
    width: 100vw;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 750;
    display: none;
    transition: 0.3s;
    -webkit-transition:0.3s;
    &.isActive{
        transition-delay: 0.1s;
        transition: 0.3s;
        display: block;
        -webkit-transition:0.3s;
        background: rgba(0,0,0,.5);
    }
}

.sidebar-sources{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 35%;
}
.sidebar-sources-container
    {
    margin-left: 25%;
    height: 100vh;
}
.sidebar-sources-content{
    margin-top: 5%;
    height: 100vh;
    font-family: Theinhardt;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
  text-align: left;
  color: #ffffff;
}
.sidebar-sources-content-txt{color: rgba(255, 255, 255, 0.4);}

.sidebar-sources-content-header{font-size: 12px;
  font-weight: 900;
  line-height: 1.83;
  text-align: left;
  color: #ffffff;
}
.logo {
	background: url('../../images/logo.png');
	width: 91px;
	height: 17vh;
	margin-top: 27px;
	margin-left: 88px;
	float: left;
    background-repeat: no-repeat;
}
.ic_trending{
    
    font-weight: bold;
}

.innerCard{
    
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  text-align: left;
  color: #3d4351;
}

.srch-container{
    transition: 0.3s;
    -webkit-transition:0.3s;
    width: 600px;
    height: 145px;
    margin-left: 268px;
        transition: 0.3s;
        -webkit-transition:0.3s;
        height: 30vh;
        max-height: 200px;
}

.search-container-parent{
    transition: 0.3s;
    -webkit-transition:0.3s;
    width:600px;
    height:30%;
    bottom:-16px;

    position:absolute;
    margin-left:16px;
    &.isActive
    {
        transition: 0.3s;
        bottom: 0;
        transition-delay: 1s;
         -webkit-transition-delay: 1s;
      -webkit-transition:0.3s;
        height:64%;
        
    }
}
.search-btn{
    padding: 8px 24px 10px 24px;
    margin: 10px;
    height: 40px;
    border-radius: 20.5px;
    background-color: #eca305;
    border: 0px;
    color: white;
    outline: none;
    text-align: center;
}


.search-suggestions{    
    font-family: Theinhardt;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.44;
  text-align: left;
  color: #3d4351;
  color: var(--charcoal-grey);
    
    &.disableView
    {
        display:none;
    }
}

.stickyButton {
    position: fixed;
    bottom: 24px;
    right: 24px;
    width: 48px;
    border-radius: 50%;
    background: linear-gradient(207deg, #c50052, @red-wine);
    height: 48px;
    z-index: 1002;
    padding: 10px 16px;
	.ic_insights {
	}
}

.stickyExportButton {
    position: fixed;
    bottom: 90px;
    right: 32px;
    width: 36px;
    border-radius: 50%;
    background: linear-gradient(195deg, #f4760a, #ffc900);
    height: 36px;
    z-index: 1002;
    padding: 7px 13px;
    .ic_insights {
    }
}
.searchicon {
	background: url('../../images/search.png');
	width: 24px;
	height: 13vh;
	margin-left: 64px;
	margin-top: 50px;
	float: left;
    background-repeat: no-repeat;
    &.Active{
        background: url('../../images/ic-search-active.png');
        background-repeat: no-repeat;
    }
}

.box {
    cursor: pointer;
}

.searchHeader {
    border: 0px;
    outline:none;
	float: left;
	font-size: 34px;
	color: rgb(81, 87, 95);
    opacity: 0.2;
	margin-top: 43px;
	margin-left: 15px;
    width: 70vw;
}
.searchHeader:focus{
opacity:0.4;    
}





.row.steamgraph {
	display: none;
}
.row.map {
	display: block;
}

#productName {
	font-size: 100px;
	opacity: 0.2;
	color: @charcoal-grey;
	margin-left: 90px;
}
.subtitle {
	opacity: 0.4;
    margin-top:65px;
}
/* STEAMGRAPH */
.steamgraph.chart svg{
	z-index: 10;
	position: absolute;
	left: 0px;
	top: 310px;
	.y-axis text {
		font-size: 10px;
		color: #383f49;
	}
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

button {

  right: 50px;
  top: 10px;
}

.filled {
	fill: url(#mainGradient);
}

.y-axis path{
	stroke-width: 0px;
	fill: none;
}
.comment-btn{
  width: 48px;
  height: 48px;
  box-shadow: 0 2px 80px 0 rgba(202, 33, 46, 0.14);
  position: fixed;
  z-index: 1000;
  border-radius: 50%;
  border: none;
  color: #fff;
  background-image: linear-gradient(207deg, #c50052, #920029);
  padding: 16px 20px;
  cursor: pointer;
  outline: none;
}

.x-axis {
	.selectedTime {
		font-size: 36px;
		fill: @red-wine;
		opacity: 0.9;
    -webkit-transition: font-size 0.4s;
       -moz-transition: font-size 0.4s;
         -o-transition: font-size 0.4s;
            transition: font-size 0.4s;
	}
	path {
		stroke-width: 0px;
		fill: none;
	}
	text {		
		opacity: 0.4;
		font-size: 24px;
		font-weight: 500;
		line-height: 0.92;
		z-index: 100;
		color: @charcoal-grey;
	}
	line {
		stroke-width: 0px;		
	}
}
