.navbar-default {
	background-color: white;
}

.navbar {
	min-height: 120px;
}

.logo {
	background: url('/images/logo.png');
	width: 91px;
	height: 72px;
	margin-top: 27px;
	margin-left: 88px;
	float: left;
}

.searchicon {
	background: url('/images/search.png');
	width: 24px;
	height: 24px;
	margin-left: 64px;
	margin-top: 50px;
	float: left;
}

.searchHeader {
	float: left;
	font-size: 34px;
	color: rgba(81, 87, 95, 0.2);
	margin-top: 43px;
	margin-left: 25px;
}